body{
background: rgb(28,18,195);
background: linear-gradient(90deg, rgba(28,18,195,1) 0%, rgba(27,33,177,0.8830882694874825) 84%, rgba(0,212,255,1) 100%);
font-size: 1rem;
font-weight: 600;
color:aqua;
margin: 0;
padding: 0;
box-sizing: border-box;
}
@media (max-width: 500px){
  body{
font-size:0.5rem;
  }  }

.slider{

  width: 50%;
  padding: 0;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
}
 @media (max-width: 900px){
.slider{
  width: 80%;
}
}
.slider__controls{
  display: flex;
  justify-content: end;
  width: 40%;
}
.slider__controls label {
  width: 3em;
  height: 3em;
  cursor: pointer;
}
.point{
  display: block;
  width: 40%;
  height: 40%;
  margin: 0 auto;
  cursor: pointer;

  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 0.3em solid #2f363c;
  background-color: #738290;
}
.opacity {


}
.slides img{
  width: 25%;
  height: 100%;
  float: left;
}
.slider-inner {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px){
  .slider-inner {
order: -1;
}}
.slides {
  width: 400%;
  transition: all 0.5s ease-out;
}
.slider input[name="slide"] {
  display: none;
}
.caption-inner{
  overflow: hidden;
  width: 60%;
  margin-left: 0;

}
.slider__captions{
  width: 400%;
  transition: all 0.5s ease-out;
  font-size: 2em;
}

@media (max-width: 500px){
  .slider__controls{
    width: 100%;
    justify-content: center;
    order: -1;
  }}

.slider__captions label{
  float: left;
  width: 25%;
}
.slide-1:checked~.slider-inner .slides {
  transform: translate(0);
}

.slide-2:checked~.slider-inner .slides {
  transform: translate(-25%);
}

.slide-3:checked~.slider-inner .slides {
  transform: translate(-50%);
}
.slide-4:checked~.slider-inner .slides {
  transform: translate(-75%);
}
.slide-1:checked~.slider__controls .slider__control_type_1 .point {
  background-color: #fff;
}
.slide-2:checked~.slider__controls .slider__control_type_2 .point {
  background-color: #fff;
}
.slide-3:checked~.slider__controls .slider__control_type_3 .point  {
  background-color: #fff;
}
.slide-4:checked~.slider__controls .slider__control_type_4 .point {
  background-color: #fff;
}
input:checked~ .slider__controls .slider__control:hover .point{
  transition: all 0.5s ease-out;
  background-color: rgb(110, 85, 85);
} 

.slide-1:checked~.caption-inner .slider__captions {
  transform: translate(0);
}

.slide-2:checked~.caption-inner .slider__captions {
  transform: translate(-25%);
}

.slide-3:checked~.caption-inner .slider__captions {
  transform: translate(-50%);
}
.slide-4:checked~.caption-inner .slider__captions {
  transform: translate(-75%);
}



